@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;

}

.timer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer .num {
    padding: 0;
    margin: 0;
    font-size: 80px;
}

.but button {
    padding: 10px;
    margin: 10px;
    width: 90px;
    font-size: 20px;
}